@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --asideBackground: rgba(126, 160, 151, 0.85);
    --hoverColor: hsl(0, 15%, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: cornflowerblue;
}

html {
    scroll-behavior: smooth;
    line-height: normal;
    color: rgba(0, 0, 0, 1)
}

body {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Alkatra', cursive;
    overflow-x: hidden;
    transition: all 500ms;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
    font-weight: bold;
    line-height: normal;
}

.header {
    background-image: url('img/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
}

.aside {
    position: relative;
    width: 40%;
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--asideBackground);
    z-index: 1000;
}

.aside img {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.aside ul {
    margin-bottom: 40px;
    list-style: none;
}

.aside ul li {
    padding: 5px 0;
    text-align: center;
}

.aside ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 600;
}

.aside ul li a:hover,
.social-media i ion-icon:hover {
    color: var(--hoverColor);
}

.social-media {
    padding: 15px 0 0;
}

.social-media i ion-icon {
    font-size: 40px;
    margin: 0 15px;
    color: #ffffff;
    cursor: pointer;
}

.header-text {
    width: 100%;
    max-width: 66.67%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    animation: slidein 2500ms ease;
}

@keyframes slidein {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-text h1 {
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.header-text p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 1px;
}

/* END HEADER   */
/* ///////////////////////////////////// */

.offer-container {
    position: relative;
    padding: 100px 0 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.offer-container::before {
    content: url('img/flowers2.png');
    position: absolute;
    top: 0;
    left: 0;
}

.offer-container::after {
    content: 'nails';
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 530px;
    color: rgba(126, 160, 151, .2);
    z-index: -1;
}

.offer-picture {
    width: 100%;
    flex: 1 1 23%;
    margin: 0 auto;
    text-align: center;
}

.offer-picture img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transform: scale(1);
    outline: 10px ridge var(--asideBackground);
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 2.75);
}

.offer-picture img:hover {
    transform: scale(1.1);
}


.offer-picture:hover img {
    transform: 400ms cubic-bezier(0.175, 0.885, 0.32, 2.75)
}

.offer-text h2 {
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}

.offer-text p {
    padding: 0 10px 40px;
    font-size: 18px;
    line-height: 24px;
    color: var(--asideBackground);
}



/* END OFFER   */
/* ///////////////////////////////////// */

.about {
    position: relative;
    padding: 30px 0 50px;
}

.about::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('img/about-img.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    opacity: .65;
    z-index: -1;
}

.about-container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.about-container h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 20px;
}

.line {
    text-align: center;
}

.line li {
    height: 3px;
    display: inline-block;
    border-radius: 50px;
    background-color: black;
    margin: 0 2px 35px 0;
}

.line li:nth-of-type(1) {
    width: 150px;
}

.line li:nth-of-type(2) {
    width: 90px;
}

.line li:nth-of-type(3) {
    width: 45px;
}

.about-content {
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.about-content>div {
    flex: 1 1 50%;
    /* max-width: 50%; */
    margin: 0 auto;
}

.about-content_content {
    background: rgba(43, 32, 32, .6);
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
}

.about-content_content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    line-height: 55px;
    margin-bottom: 30px;
    transform: skewX(-30deg);
}

.about-content_content p {
    font-size: 20px;
    line-height: 35px;
}

.about-content_img {
    order: -1;
    padding: 15px;
}

.about-content_img img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
}

.change-name {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 100px;
    color: var(--asideBackground);
}

/* END HEADER   */
/* ///////////////////////////////////// */

/* ///////////////////////////////////////////////// */
/* HAMBURGER MENU */

.menu-btn {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: none;
}

.menu-btn__burger {
    width: 3.5rem;
    height: .4rem;
    background: #fff;
    border-radius: .5rem;
    transition: all 300ms ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: .4rem;
    background: #fff;
    border-radius: .5rem;
    transition: all 300ms ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-1rem);
}

.menu-btn__burger::after {
    transform: translateY(1rem);
}

/*  animation */


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* ///////////////////////////////////////// */


.mobile-nav {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    top: 120px;
    left: 100%;
    min-height: 100vh;
    transition: all 300ms ease-in-out;
    background-color: var(--asideBackground);
    z-index: 1000;
}

.mobile-nav.active {
    left: 0;
}

.mobile-nav li {
    background-color: var(--asideBackground);
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.mobile-nav li:hover {
    background-color: var(--hoverColor);
}

.mobile-nav li a {
    display: block;
    padding: 5px 0;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all 500ms ease;
}


/* END HAMBURGER MENU */
/* ///////////////////////////////////////// */

.banner-container {
    margin-bottom: 70px;
    background-image: url('img/p_5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
}

.banner {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 15px;
}

.banner-text {
    padding: 20px 0;
    flex: 1 1 33.333%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 70px;
}

.banner-text h3 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
}



/* END BANNER */
/* ///////////////////////////////////////// */

.picture-gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
}

.picture-gallery h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 80px;
}

.gallery {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* outline-offset: 10px; */
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 2.75);
}

.gallery img:hover {
    transform: scale(1.05);
    outline: 10px solid #fff;
    z-index: 10;
}

.gallery img:nth-of-type(1) {
    grid-row: 1 / 3;
    height: 80%;
    align-self: center;
}

.gallery img:nth-of-type(3) {
    grid-column: 3/5;

}

.gallery img:nth-of-type(5) {
    grid-column: 2/4;
}

.pop-up-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1001;
    display: none;
}

.pop-up-image span {
    position: absolute;
    right: 30px;
    color: #fff;
    font-size: 80px;
    cursor: pointer;
}

.pop-up-image span:hover {
    color: var(--hoverColor);
}

.pop-up-image img {
    width: 500px;
    object-fit: cover;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #fff;
    border-radius: 10px;
}


/* END GALLERY */
/* ///////////////////////////////////////////////// */

.about-work {
    padding: 80px 30px 60px;
}

.about-work-container {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* .about-work-container>div {
    flex: 1 1 33.33333%;
} */

.about-work-block {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.about-work h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 80px;
}

.about-work-block::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    bottom: -20px;
    right: 0;
    transform: translateX(-20px);
    background: linear-gradient(to bottom, rgb(126, 160, 151) 30%, #2b2020 60%);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease;
}

.about-work-block:hover::before {
    opacity: 1;
    transform: translateX(0px);
}

.about-work-block:hover .about-work-img img {
    transform: translateX(-20px);
}

.about-work-block:hover .about-work-content {
    transform: translateX(20px);
    color: #fff;
}

.about-work-img {
    margin-bottom: 30px;
    width: 100%;
    height: 250px;
}

.about-work-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.4s ease;
}

.about-work-content {
    display: flex;
    padding-bottom: 30px;
    padding-right: 20px;
    gap: 20px;
    transition: all 0.4s ease;
}

.about-work-left,
.about-work-right {
    line-height: 40px;
}

.about-work-left h1 {
    font-size: 30px;
    line-height: 40px;
}

.about-work-left p {
    font-size: 20px;
    line-height: 20px;
}

.about-work-right h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 40px;
}

.about-work-right p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}



/* END TREAT YOURSELF */
/* ///////////////////////////////////////////////// */

.banner-two_container {
    position: relative;
}

.banner-two_contain {
    width: 100%;
    max-width: 70%;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.banner-two_contain h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
}

.banner-two_contain p {
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}


/* END BANNER-TWO */
/* ///////////////////////////////////////////////// */


.testimonials-container {
    position: relative;
    padding: 50px 0 50px;

    background-image: url('img/polish.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: .9;

}

.testimonials-container::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: #802201;
    background: linear-gradient(326deg, #802201 0%, #210d10 74%);
    opacity: .6;
    z-index: -1;
}

.testimonials-container h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 80px;
}

.carousel {
    height: 500px;
    margin-bottom: 70px;
    padding: 0 10px;
}

.carousel .carousel-item {
    width: 100%;
    max-width: 500px;
    height: auto;
    background: linear-gradient(326deg, #802201 0%, #210d10 74%);
    cursor: pointer;
}

.single-testimonial {
    position: relative;
    border-radius: 45px;
    border: 7px solid #fff;
}

.single-testimonial::after {
    content: '\f10e';
    position: absolute;
    font-family: FontAwesome;
    color: #fff;
    font-size: 80px;
    right: -10px;
    bottom: 0;
    width: 126px;
    height: 100px;
    text-align: center;
}

.client-pic {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -35px;
    left: -60px;
}

.client-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px double #fff;
}

.client-info {
    margin: 40px 20px 0 100px;
}

.single-testimonial p {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
}

.client-info-name {
    margin: 40px 0;
}

.client-info-name h6 {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

.indicators {
    margin-top: 50px;
}

.carousel .indicators .indicator-item {
    width: 14px;
    height: 14px;
    margin: 24px 12px;
    transition: all .5s ease;
}

.carousel .indicators .indicator-item.active {
    width: 25px;
}


/* END TESTIMONIALS */
/* ///////////////////////////////////////////////// */

.custom-shape-divider-top-1682852422 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
}

.custom-shape-divider-top-1682852422 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 88px;
}

.custom-shape-divider-top-1682852422 .shape-fill {
    fill: #fff;
}

.feel-like_home {
    position: relative;
    padding: 100px 0;
}

.home-banner {
    position: relative;
    color: #fff;
    padding: 100px 0 150px;
    background-image: url('img/massage.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
}


.home-banner::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: #802201;
    background: linear-gradient(326deg, #802201 0%, #210d10 74%);
    opacity: .6;
    z-index: -1;
}

.home-banner h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: var(--asideBackground)
}

.home-banner h2,
.home-banner h3 {
    text-transform: capitalize;
    text-align: center;
}



.home-image {
    display: block;
    position: relative;
    width: 100%;
    /* height: 300px; */
    max-width: 600px;
    margin: -100px auto;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
    z-index: 1;
}

.home-image img {
    width: 100%;
    height: 100%;
}

/* END HOME-BANNER */
/* /////////////////////////////////////////////////// */

.perfect-smile {
    padding: 100px 0;
}

.container-perfect-smile {
    border: 2px solid black;

    display: flex;
}

.block {
    flex: 1;
    border: 2px solid black;
}

.block.active {
    flex: 2;
}

.block h2 {
    text-transform: uppercase;
    font-size: 30px;
}


/* END PERFECT SMILE */
/* /////////////////////////////////////////////////// */

.footer {
    position: relative;
}

.footer:before {
    content: url('img/flowers2.png');
    position: absolute;
    top: 0;
    left: 0;
}

.footer:after {
    content: url('img/flowers2.png');
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg)
}


.footer-container {
    background-color: rgba(0, 0, 0, .8);

    text-align: center;
    padding: 40px 0;
    text-transform: capitalize;
    color: #fff;
}

.footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer-contact>div {
    display: inline-block;
    font-size: 22px;
    margin: 30px 45px;
}

.footer-contact>div p:nth-child(1) {
    color: rgb(6, 247, 6);
}







/* /////////////////////////////////// */

@media only screen and (min-width: 960px) {
    .mobile-nav {
        display: none;
    }

}


@media only screen and (max-width: 960px) {

    .header-text h1 {
        line-height: 70px;
    }

    .contact-container>div {
        max-width: 100%;
    }

    .center-contact {
        display: none;
    }

    .left-contact {
        background-image: url('img/nail.jpg');
        background-size: cover;
    }

    .img-background {
        background-color: rgba(43, 32, 32, .6);
        border-radius: 5px;
        text-align: center;
        padding: 15px;
        color: #ffffff;
    }

    .left-contact p:nth-child(3) {
        color: rgb(173, 202, 195)
    }

    .mobile-nav {
        display: none;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content>div {
        max-width: 100%;
    }

    .about-content_img {
        padding: 0px;
    }

    .left-contact {
        padding: 10px;
    }

    .right-contact {
        padding: 15px;
    }

    .about-container::after,
    .offer-container::after {
        display: none;
    }

    .banner {
        max-width: 100%;
    }

    .about-work-container {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    .about-work-img {
        height: 280px;
    }

}

@media only screen and (max-width: 785px) {

    .header {
        height: 90vh;
    }

    .aside {
        position: fixed;
        width: 100%;
        flex-direction: row;
        padding: 10px 50px;
        box-shadow: 0 5px 5px rgba(43, 32, 32, 0.5);
    }

    .aside img {
        margin-bottom: 0;
    }

    .aside ul,
    .social-media {
        display: none;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-text {
        max-width: 88%;
    }

    .header-text h1 {
        margin-bottom: 20px;
    }

    .header-text p {
        padding-bottom: 15px;
        font-size: 15px;
        line-height: 25px;
    }

    .contact-container {
        flex-direction: column;
    }

    .left-contact {
        background-position: center;
    }

    .right-contact {
        order: -1;
    }

    .mobile-nav {
        display: block;
    }

    .about-container h2 {
        line-height: 75px;
        margin-bottom: 20px;
    }

    .offer-container {
        padding: 70px 0 50px;
    }

    .offer-picture {
        flex: 1 1 33%;
    }

    .banner-text h1 {
        font-size: 55px;
    }

    .banner-text h3 {
        font-size: 20px;
    }

    .banner-two_container {
        padding: 40px 15px 10px;
    }

    .banner-two_contain {
        max-width: 90%;
    }

    .single-testimonial {
        margin: 50px 0;
    }

    .carousel {
        height: 600px;
    }

    .client-pic {
        top: -25%;
        left: 50%;
        transform: translateX(-50%);
    }

    .client-info {
        margin: 100px 20px 0 20px;
        text-align: center;
    }

    /* .home-banner {
        padding: 100px 0 150px;
    } */

    .home-image {
        max-width: 500px;
    }

}

@media only screen and (max-width: 550px) {

    .header-text {
        max-width: 100%;
    }

    .header-text h1 {
        font-size: 55px;
    }

    .aside {
        padding: 10px 25px;
    }

    .aside img {
        width: 80px;
        height: 80px;
    }

    .mobile-nav {
        top: 100px;
    }

    .about-container h2 {
        font-size: 70px;
        line-height: 65px;
    }

    .line li {
        margin: 0 2px 20px;
    }

    .about-content_content h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        line-height: 52px;
    }

    .about-content_content p {
        font-size: 18px;
        line-height: 31px;
    }

    .line li:nth-of-type(1) {
        width: 100px;
    }

    .line li:nth-of-type(2) {
        width: 60px;
    }

    .line li:nth-of-type(3) {
        width: 25px;
    }

    .offer-picture {
        flex: 1 1 100%;
    }

    .banner-container {
        margin-bottom: 40px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-text h3 {
        font-size: 14px;
    }

    .picture-gallery h2 {
        font-size: 55px;
        margin-bottom: 20px;
        line-height: 60px;
    }

    .gallery {
        gap: 5px;
    }

    .pop-up-image img {
        width: 300px;
    }

    .banner-two_container {
        padding: 15px 10px 10px;
    }

    .banner-two_contain h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .testimonials-container {
        padding: 60px 0 0;
    }

    .carousel {
        height: 700px;
    }

    .carousel .carousel-item {
        max-width: 400px;
    }

    .client-info-name {
        text-align: left;
    }

    .client-info-name h6 {
        line-height: 40px;
        margin-bottom: 20px;
    }

    .carousel .carousel-item {
        max-width: 300px;
    }

    .home-banner h2 {
        line-height: 65px;
    }

    .home-image {
        max-width: 350px;
    }
}

@media only screen and (max-width: 370px) {

    .home-image {
        max-width: 300px;
    }
}